.fix{position:fixed;width: 100%;z-index: 995;}
/************start header****************/
header{width: 100%;height: 56px;background:#25292e;}
header .header-wrap{width: 1000px;height: 100%;margin:0 auto;}
.logo{float:left;width: 98px;height: 40px;margin-top:9px; background:url(../images/icon.png);}
.menu{float:right;line-height: 56px;letter-spacing:1px;}
.menu>li{float:left;}
.menu>li>a{font-size: 12px;color:#666862}
header .menu>li>.gin{color:#bfbcb5;}
.space{padding:0 15px;}
.line{width: 1px;height: 9px;background:#666862;margin-top:26px;}
.add{padding-left: 14px;}
.car:hover{color:#bfbcb5}
.add:hover{color:#bfbcb5}
.register{padding:0 14px 0 8px;}
/************end header****************/
/************start nav****************/
nav{width: 1000px;border-bottom: 4px solid #ededed;height: 46px;margin:0 auto;background-color: #fff;}
#nav{/*margin-left:175px;*/width:780px;}
#nav>li{float: left;width: 120px;height: 45px;line-height: 45px;text-align: center;margin-right: 45px;}
#nav>li>a{color:#484c50;font-size: 15px;letter-spacing:1px;}
#nav{float:left;}
#nav .home{text-align: left;width: 117px;margin-right: 0;}
#nav .shop{position:relative;}
#nav .shop .shop-list{display: none; position:absolute;left:-117px;top:50px;width: 1000px;height: 382px;padding:35px 0 57px 0; background-color: #fff;cursor: pointer;}
#nav .shop .shop-list .shop-list-wrap{float:left;width: 777px;height: 100%;}
#nav .shop .shop-list ul{width: 100%;height: 350px;}
#nav .shop .shop-list li{float:left;width: 38px;height: 51px;margin:0 73px 35px 0;line-height: 0;}
#nav .shop .shop-list li a{color:#4d4d4d;}
#nav .shop .shop-list li img{width: 100%;margin-bottom: 5px;}
.shop-list-wrap .findAll{text-align: left;}
.shop-list-wrap .findAll span{color:#666;font-size: 12px;margin-right: 50px;}
#nav .shop .shop-list .magazine{float:right;}
#nav .shop .shop-list .magazine img{width: 223px;height: 223px;}
#nav .shop .shop-list .magazine p{text-align: left;}
#nav .shop .shop-list .magazine p span{margin-left: 20px;}
#nav .nav-li1{text-align: left;margin-right: 0;}
.search{float:left;}
.search input{width: 158px;height: 35px;padding:0 15px 0 8px;border:0;outline:0}
.search .btn{display:inline-block;position:relative;top:5px;right:12px;width: 34px;height: 20px;background:url(../images/icon.png) -167px -157px;margin-top:8px;}
/************end nav****************/

section{width: 100%;padding-top:131px;}
section .middle{width: 1000px;margin:0 auto;}

/************start foot****************/
.foot{width: 100%;height: 250px;background:#fbfdfe;border-top: 1px solid #f0f0f0;}
.foot>p{width: 227px; margin:50px auto 43px;position:relative;}
.foot>p em{display:inline-block;width: 29px;height: 19px;background:url(../images/icon.png) -173px -356px;position:absolute;left:0}
.foot>p i{display:inline-block;width: 180px;height: 16px;background:url(../images/icon.png) 0 -417px;margin-left: 45px;}
.foot em{float:left;}
.foot ul{width: 1000px;margin:0 auto;height: 60px;}
.foot li{float:left;margin-right: 102px;}
.foot-li em{width: 57px;height: 61px;background:url(../images/icon.png) 0 -356px;margin-right: 20px;position:relative;top:-10px}
.foot-li h4{font-size: 14px;color:#74767d;margin-bottom: 6px;}
.foot-li p{color:#dfd9d5;}

.foot div{float:left}
.foot-em2 em{background:url(../images/icon.png) -153px -218px;}
.foot-em3 em{background:url(../images/icon.png) -56px -356px;}
.foot .foot-em4{margin-right:0;}
.foot-em4 em{background:url(../images/icon.png) -113px -356px;}
/************end foot**********************/

/************start footer**********************/
footer{width: 100%;height: 242px;background:#25292e;font-size: 12px;}
.footer-top{width: 1000px;height: 49px;}
.empty1{height: 37px;}
.empty2{width: 273px;height: 36px;background:#25292e;position:relative;top:150px}
.bottom{width: 1000px;margin:0 auto;}
.scan{position:relative;width: 195px;height: 48px;float:left;}
.scan>i{float:left;width: 26px;height: 45px;background:url(../images/icon.png) -174px 0;margin-right: 34px;}
.scan .load{font-size: 13px;color:#485357}
.scan .load p{margin-bottom:13px;}
.scan .twolist{display:none;z-index: 5;position:absolute;top:-187px;left:-15px;width: 273px;height: 186px;background:#fff;}
.scan .twolist .iphone{width: 136px;float:left;text-align: center;}
.scan .twolist .iphone .iphone-top{height: 95px;width: 136px;border-right: 1px solid #d9d9d9;}
.scan .twolist .iphone .iphone-top i{display:inline-block;width: 98px;height: 94px;background:url(../images/icon.png) 0 -49px;}
.scan .twolist p{margin-top: 18px;font-size: 13px;color:#4d4d4d;}
.scan .twolist .android{width: 136px;float:right;text-align: center;}
.scan .twolist .android-top{height: 95px;width: 136px;}
.scan .twolist .android-top i{display:inline-block;width: 98px;height: 94px;background:url(../images/icon.png) -101px -49px;}
.loginstyle{float:right;position:relative}
.loginstyle>a{float:left;width: 25px;height: 20px;}

.loginstyle .weibo{background:url(../images/icon.png) -147px 0;margin:0 26px}
.loginstyle .douban{background:url(../images/icon.png) -125px 0;}
.loginstyle .weixin:hover{background:url(../images/icon.png) -100px -24px;}
.loginstyle .weibo:hover{background:url(../images/icon.png) -147px -24px;}
.loginstyle .douban:hover{background:url(../images/icon.png) -125px -24px;}

.loginstyle .weixin{float:left;width: 25px;height: 20px;background:url(../images/icon.png) -100px 0;}
.loginstyle .weixinscan{float:left;width: 148px;height: 148px;background:url(../images/icon.png) 0 -148px;}
.loginstyle .wrap-scan{display:none; position:absolute;height: 193px;width: 145px;top:-192px;left:-62px;}
.friendlink{margin:30px 0 11px 0;overflow:hidden}
.friendlink li{float:left;letter-spacing: 2px;}
.foot-line{width: 1px;height: 12px;background:#485357;margin:3px 7px 0 10px;}
.friendlink li a{color:#485357;}
.friendlink li a:hover{color:#fff;transition: all 0.6s;}
.texts{letter-spacing: 2px;color:#485357;}
/************end footer**********************/

/*#totop{display:none;position:fixed;width: 60px;height: 60px;background:url(../images/icon.png) -20px -813px;top:89%;right:2.5%;}*/