.middle>ul>li{height: 46px;padding-left: 24px; line-height:58px; border-bottom: 1px solid #ededed;}
.middle>ul>li.firstLi{background:url(../images/icon.png) -172px -569px no-repeat;}
.middle>ul>li.secondLi,.middle>ul>li.thirdLi{width: 852px;}
.middle>ul>li>a{padding: 10px 18px;margin-right: 20px;color:#333; border-bottom: 1px solid transparent;transition:all .3s;}
.middle>ul>li>a:hover{border-color:#000;}
#list-title{width: 100%; margin:8px auto 20px;}
#list-title .select{display:inline-block;margin-left: 46px;}
#list-title .select em{position:relative;top:10px;left:5px; display:inline-block;width: 12px;height: 20px;background:url(../images/icon.png) -188px -391px no-repeat;}

#product{width:1000px;overflow:hidden;}
#product .pro-wrap{width: 1395px;}
#goodsUl li{width: 300px;height: 410px;float:left;text-align: center;display:block;margin:4px 45px 28px 0}
#goodsUl li img{width: 310px;margin-bottom:16px;}
#goodsUl li img:hover{opacity: 0.4;}

.price{background:red;font-size: 16px;color: white;font-weight: bold;}
.goodsUl-p2{height: 44px;overflow:hidden;font-size: 15px;font-weight: bold;}
.goodsUl-p3{height: 30px;font-size: 12px;color:orange}
.goodsUl-p4{color:red;margin-top:12px;font-weight: bold;}

.more{display:block;width: 151px;height: 49px;background:url(../images/icon.png) 0 -640px ;margin:78px auto 90px;}
.more:hover{background:url(../images/icon.png) 0 -687px}

.totop{display:none;position:fixed;width: 60px;height: 60px;background:url(../images/icon.png) -20px -813px;top:89%;right:2.5%;}