
input{border:0;outline: 0;}
body{width: 100%;height: 100%;background: #999;}
.content{width: 420px;height:580px;margin:100px auto;}
.logo{display:block;width: 228px;height: 93px;background:url(../images/logo_icon.png) no-repeat center;margin-left:124px;margin-bottom: 70px;}

.content div{height: 50px;margin-bottom:22px;line-height: 50px;}
.content div>span{display:inline-block;width: 75px;font-size: 14px;color:#fff3df;font-weight: bold;}
.content div>input{width: 285px;height: 50px;background:#ccc;margin-left: 14px;padding-left:20px;font-size: 14px;font-weight: bold;color:#fff;}
.content div>input.sure{width: 225px;}
.content div.user,.content div.pwd,.content div.dblpwd{position:relative;}
.content div.user p{display:none;position:absolute;top:12px;right:-164px;width: 200px;height: 30px;line-height: 30px;text-align: center;color: white;font-size: 16px;}

.content div p.success{color:green;font-weight: bold;}
.content div.user p.error0{position:absolute;top:10px;right:-300px; color: red;font-size: 16px;width: 289px;height: 30px;line-height: 30px;text-align: center;font-weight: bold;}
.error2{display: none; position:absolute;top:10px;right:-253px; color: red;font-size: 16px;width: 241px;height: 30px;line-height: 30px;text-align: center;font-weight: bold;}
.error3{display:none; position:absolute;top:10px;right:-238px; color: red;font-size: 16px;width: 241px;height: 30px;line-height: 30px;text-align: center;font-weight: bold;}
.content div p.error1{color:red;font-weight: bold;}
.content div p.select{margin:14px 0 0 88px;color:#fff;font-size: 12px;}
.content div p.select span{margin:0 5px 0 10px;}
.content div p.select a{color:#0c79cc;}
/*.success{background: green;float:right;margin-top: 10px;}
.error1{background: red;color: white;font-size: 16px;width: 200px;height: 30px;float:right;line-height: 30px;text-align: center;margin-top:10px}*/

.content div .reg{padding:0;width: 305px; background:#25292e;font-size: 18px;color:#fff;margin:0 0 0 90px;cursor: pointer;}









